/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url(./fonts.scss);

*,
*::before,
*::after {
  box-sizing: border-box;
}
::selection {
  color: #000;
  background: #ffcd43;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 500!important;
}
p {
  font-weight: 400!important;
}
button {
  cursor: pointer;
}
main {
  padding: 4em 12em 0 12em;
  min-height: 90vh;

  background-image: url('/images/world_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
.inview {
  animation: grow 2s ease forwards;
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideInFromRight {
  from {
    transform: translate(350%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translate(-350%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
